body {
  font-family: "Lato", sans-serif;
}
.footnote:link, .footnote:visited {
  font-size: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.footnote:hover {
  font-size: 30px;
  background-color: yellow;
  text-decoration: none;
}