.openButton {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  align-content: center;
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.1); /*rgba(255,255,255,0.6);*/
  border-radius: 0 0 10px 0;
}