.grid {
    display: grid;
    /*gap: 2%;*/
}

.square {
    aspect-ratio: 1/ 1;
    display: flex;
    padding: 5%;
    color: #fff;
    border:1px solid #1c1c21;
    /*width: 40%;*/
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
}

.home-cell {
    background-color: #e74a3b;
    opacity: 0.3;
}

.indoor-cell {
    background-color: #4e73df;
    opacity: 0.3;
}

.plastic-cell {
    background-color: #f6c23e;
    opacity: 0.3;
}

.glass-cell {
    background-color: #1cc88a;
    opacity: 0.3;
}

.empty-cell {
    background-color: rgba(133, 135, 150, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

/*
// TEST Miky (fix opacity)
.home-cell {
    background-color: rgba(231, 74, 59, 0.3);
    border: 1px solid rgba(186, 186, 186, 1.0);
}

.indoor-cell {
    background-color: rgba(78, 115, 223, 0.3);
    border: 1px solid rgba(186, 186, 186, 1.0);
}

.plastic-cell {
    background-color: rgba(246, 194, 62, 0.3);
    border: 1px solid rgba(186, 186, 186, 1.0);

.glass-cell {
    background-color: rgba(28, 200, 138, 0.9);
    border: 1px solid rgba(186, 186, 186, 1.0);
}

.empty-cell {
    background-color: rgba(133, 135, 150, 0.3);
    border: 1px solid rgba(152, 153, 156, 1.0);
}
*/

.circle {
    /*
    border-radius: 10px;
    width: 10px;
    height: 10px;
    */
    border-radius: 60%;
    width: 60%;
    height: 60%;
    background-color: red;
    /* width and height can be anything, as long as they're equal */
}

.blink-led {
    animation:blink 250ms infinite alternate;
}
@keyframes blink {
    from {background-color: #858796; border-color: #858796;}
    to {background-color: #1cc88a; border-color: #1cc88a;}
};