.grid {
    display: grid;
    /*gap: 2%;*/
}

.square {
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    padding: 5%;
    color: #fff;
    border:1px solid #1c1c21;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
}

.home-cell {
    background-color: #e74a3b;
    opacity: 0.3;
}

.indoor-cell {
    background-color: #4e73df;
    opacity: 0.3;
}

.plastic-cell {
    background-color: #f6c23e;
    opacity: 0.3;
}

.glass-cell {
    background-color: #1cc88a;
    opacity: 0.3;
}

.empty-cell {
    background-color: #858796;
    opacity: 0.3;
}