.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /*gap: 2%;*/
}

.square {
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    padding: 5%;
    background-color: #1E1E1E;
    color: #fff;
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.square.fullImg {
    padding: 0;
}

.square.fullImg img {
    object-fit: cover;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
}